@charset "utf-8";
@import url('https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/static/woff2/SUIT.css');
@import url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff');

* {
    margin: 0;
    padding: 0;
}
li {
    list-style:none;
}
a {
    text-decoration: none;
    color: inherit;
}
html, body {
    line-height: 1;
    color: #333;
    font-family: 'GmarketSansMedium';
    font-size: 10px;
    /* font-family: 'SUIT', sans-serif; */
}
.section01 {
    max-width: 128rem;
    width: calc(100% - 3rem);
    margin: 15rem auto;
}
.section01 .title {
    text-align: center;
    line-height: 1.3;
}
.section01 .title h2{
    font-size: 4.5rem;
    margin-bottom: 1.5rem;
}
.section01 .title p {
    font-size: 2rem;
    margin-bottom: 4rem;
}
.section01 .list {
    display: flex;
    justify-content: space-between;
}
.section01 .list .item_text {
    background-color: #FF8515;
    width: 49%;
    border-radius: 3rem;
    padding: 10rem 7rem;
    box-sizing: border-box;
}
.section01 .list .item_text h3 {
    font-size: 4.5rem;
    color: #fff;
    margin-top: 2.5rem;
}
.section01 .list .item_text span {
    font-size: 2.2rem;
    background-color: #BD4F00;
    border-radius: 4rem;
    padding: 1rem 2rem;
    box-sizing: border-box;
    color: #fff;
}
.section01 .list .item_img {
    width: 49%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 2.8rem;
}
.section01 .list .item_img .item {
    width: 29.9rem;
    height: 29.9rem;
    border-radius: 3rem;
    overflow: hidden;
    position: relative;
}
.section01 .list .item_img .item figure {
    width: 100%;
    height: 100%;
}
.section01 .list .item_img figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section01 .list .item_img .item >p {
    font-size: 1.8rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    color: #fff;
    line-height: 1.3;
    padding: 30px;
    background: linear-gradient(to bottom,  rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    width: 100%;
    
}
.section01 .list .item_img .item:hover p {
    display: block;
}

.section02 {
    background-color: #F3F8FF;
    padding: 15rem 0;
}
.section02 .inner {
    max-width: 128rem;
    width: calc(100% - 3rem);
    margin: 0 auto;
}
.section02 .title h2 {
    font-size: 4.5rem;
    margin-bottom: 1.5rem;
}
.section02 .title p {
    font-size: 2rem;
    margin-bottom: 5rem;
}
.section02 .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10rem;
}
.section02 .list .items {
    width: 49%;
}
.section02 .list .item {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    border-radius: 2rem;
    background-color: #fff;
    align-items: center;
    margin-bottom: 3rem;
    width: 73.4rem;
    padding: 3rem;
}
.section02 .list .item:hover {
    border: 2px solid #4478FF;
}
.section02 .list .item .progress {
    font-size: 1.8rem;
    background-color: #4478FF;
    color: #fff;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    line-height: 8rem;
    text-align: center;
    margin-right: 2rem;
}
.section02 .list .item .item_text h3 {
    font-size: 2.5rem;
    font-weight: normal;
}
.section02 .list .item .item_text p{
    font-size: 1.6rem;
    margin-top: 1rem;
    position: relative;
    font-weight: 100;
}
.section02 .list .item .item_text span{
    margin-left: 1.5rem;
}
/* .section02 .list .item .item_text span::before {
    content: '';
    width: 0.2rem;
    height: 1.6rem;
    background-color: #333;
    display: block;
    position: absolute;
    top: 0;
    right: 6rem;
} */
.section02 .list .image figure {
    border-radius: 2rem;
    overflow: hidden;
    width: 43.4rem;
    height: 62.5rem;
}
.section02 .list .image figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.disabled {
    background-color: #ccc !important;
}