@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff');
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}
li {
    list-style:none;
}
a {
    text-decoration: none;
    color: inherit;
}
html, body {
    line-height: 1;
    color: #333;
    font-family: 'Pretendard Variable';
    font-weight: 400;
    font-size: 10px;
    /* font-family: 'yg-jalnan'; */
}
h1, h2, h3, h4, h5 {
    font-family: 'yg-jalnan';
}
.tablet {
    display: none;
}
.main .title h3 {
    font-size: 4.5rem;
    line-height: 1.5;
}
.header {
    height: 105px;
    border-bottom: 1px solid #0000003a;
    position: relative;
    z-index: 10;
}
.header .inner {
    max-width: 1920px;
    width: calc(100% - 30px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.header .inner .logo h1 {
    display: flex;
    align-items: center;
}
.header .inner .logo h1 img {
    width: 71px;
    margin-right: 10px;
}
.header .inner .logo h1 span {
    font-size: 1.9rem;
    font-family: 'yg-jalnan';
    position: relative;
    padding-left: 10px;
    display: block;
}
.header .inner .logo h1 span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 19px;
    background-color: #333;
    display: block;
}

.header .inner nav {
    height: 100%;
}
.header .inner nav .gnb {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: nowrap;
    margin: 0 auto;
    line-height: 105px;
}
.header .inner nav .gnb > li .depth01 {
    position: relative;
    font-size: 1.6rem;
    padding: 0 60px;
    display: block;
    font-weight: 600;
}
.header .inner nav .gnb > li > .depth01::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #D9D9D9;
    display: block;
}
.header .inner nav .gnb > li:last-child > .depth01::after {
    display: none;
}
.header .inner nav .gnb .depth02 {
    /* background-color: #4478FF; */
    background-color: #fff;
    padding: 22px 25px;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    height: 200px;
    z-index: 10;
    border-top: 1px solid #0000003a;
    text-align: left;
    display: none;
    position: relative;
}
.header .inner nav .gnb:hover .depth02 {
    display: block;
}
.header .inner nav .gnb li:hover .depth02{
    background-color: #4478FF;
    color: #fff;
}
.header .inner nav .gnb .depth02 li:first-child {
    font-family: 'yg-jalnan';
}
.header .inner nav .gnb + .navhover{
    width: 100%;
    height: 300px;
    background-color: #fff;
    z-index: 1;
    position: absolute;
    top: 106px;
    left: 0;
    opacity: 0;
}
.header .inner nav .gnb:hover + .navhover{
    opacity: 1;
}
.header .inner .sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .inner .sub .home {
    width: 16px;
    height: 16px;
}
.header .inner .sub .home img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header .inner .sub span {
    font-size: 1.6rem;
    margin-left: 5px;
    margin-right: 35px;
}

.main .section-title {
    max-width: 1280px;
    width: calc(100% - 30px);
    margin: 115px auto;
}
.main .section-title .title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main .section-title .title .main_title {
    display: flex;
    align-items: end;
    gap: 20px;
}
.main .section-title .title .main_title h2 {
    font-size: 7rem;
}
.main .section-title .title .main_title figure {
    width: 258px;
}
.main .section-title .title .main_title figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main .section-title .title .info_title {
    display: flex;
    align-items: center;
    font-size: 2.4rem;
    gap: 24px;
}
.main .section-visual{
    /* margin: 100px auto; */
    background-image: linear-gradient(to top, #F3F8FF 50%, #fff 50%);
}
.main .section-visual .main_visual {
    position: relative;
    max-width: 1920px;
    width: calc(100% - 15px);
    margin: 0 auto;
}
.main .section-visual .main_visual .visual_banner div {
    border-radius: 25px;
    overflow: hidden;
    margin: 0 30px;
}
.main .section-visual .main_visual .visual_banner div figure {
    width: 836px;
    height: 395px;
}
.main .section-visual .main_visual .visual_banner div figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main .section-visual .main_visual .arrowArea {
    width: 836px;
    height: 395px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin-left: 30px;
}
.main .section-visual .main_visual .arrowArea div {
    width: 100%;
    height: 100%;
    position: relative;
}
.main .section-visual .main_visual .arrowArea div .arrow {
    background-color: #fff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
}
.main .section-visual .main_visual .arrowArea div .prev {
    position: absolute;
    top: 50%;
    left: -5%;
    transform: translate(0, -50%);
}
.main .section-visual .main_visual .arrowArea div .next {
    position: absolute;
    top: 50%;
    right: -5%;
    transform: translate(0, -50%);
}
.main .section-visual .main_visual .arrow figure {
    width: 22px;
    height: 34px;
    padding: 23px 29px;
}
.main .section-visual .main_visual .arrow figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.slick-dots {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 1rem 0;
	list-style-type: none;
}
.slick-dots li {
    margin: 0 0.25rem;
}
.slick-dots button {
    display: block;
    width: 14px;
    height: 14px;
    padding: 0;
    
    border: none;
    border-radius: 100%;
    background-color: #C1C9DC;
    
    text-indent: -9999px;
}
.slick-dots li.slick-active button {
    background-color: #4478FF;
    width: 43px;
    border-radius: 50px;
    transition: 0.7s;
}

/* section-program */
.main .section-program {
    background-color: #F3F8FF;
    padding: 150px 0;
}
.main .section-program .inner {
    max-width: 1280px;
    width: calc(100% - 30px);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.main .section-program .inner .list {
    width: 59%;
}
.main .section-program .inner .list .title{
    display: flex;
    margin-bottom: 80px;
    justify-content: space-between;
}
.main .section-program .inner .list .title div p {
    font-size: 2rem;
}
.main .section-program .inner .list .title button {
    background-color: #ffffff00;
    border: none;
    width: 43px;
    height: 43px;
}
.main .section-program .inner .image {
    width: 446px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.125);
    position: relative;
    height: 630px;
}
.main .section-program .inner .image figure {
    width: 100%;
    height: 100%;
}
.main .section-program .inner .image figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
}
.main .section-program .inner .image figure img ~ img {
    opacity: 0;
}
.main .section-program .inner .list .item {
    display: flex;
    background-color: #fff;
    border-radius: 25px;
    padding: 30px 35px;
    margin-bottom: 30px;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.062);
}
.main .section-program .inner .list .item:hover {
    /* border: 2px solid #4478FF; */
    box-shadow: 0 0 0 2px #4478FF inset; 
}
.main .section-program .inner .list .item .progress {
    background-color: #4478FF;
    color: #fff;
    font-family: 'yg-jalnan';
    border-radius: 100%;
    padding: 30px 22px;
    font-size: 1.8rem;
}
.main .section-program .inner .list .item .disabled {
    background-color: #C1C6D0;
}
.main .section-program .inner .list .item .item_text {
    margin-left: 30px;
}
.main .section-program .inner .list .item .item_text h3 {
    font-size: 2.6rem;
    line-height: 1.5;
    font-family: 'Pretendard-Regular';
    font-weight: bold;
}
.main .section-program .inner .list .item .item_text div {
    font-size: 1.6rem;
    color: #666666;
    position: relative;
    margin-top: 5px;
    display: flex;
}
.main .section-program .inner .list .item .item_text div div figure {
    width: 11px;
    height: 11px;
    margin-right: 11px;
}
.main .section-program .inner .list .item .item_text div div span {
    position: relative;
    margin-right: 28px;
}
.main .section-program .inner .list .item .item_text div div::after {
    content: '';
    width: 1px;
    height: 14px;
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translate(0, -50%);
    display: block;
    background-color: #666;
}
.main .section-program .inner .list .item .item_text div div:last-child::after {
    display: none;
}

/* .main .section-program .inner .list .item .item_text div span {
    margin: 0 14px;
} */
/* .main .section-program .inner .list .item .item_text p span::after {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #666;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
} */

.main .section-menu {
    max-width: 1280px;
    width: calc(100% - 30px);
    margin: 150px auto;
}
.main .section-menu .inner {
    text-align: center;
}
.main .section-menu .inner .title p {
    font-size: 2rem;
    margin-top: 13px;
    margin-bottom: 60px;
    line-height: 1.5;
}
.main .section-menu .inner .list {
    display: flex;
    justify-content: space-between;
}
.main .section-menu .inner .list .item_text {
    width: 49%;
    background-color: #FF8515;
    border-radius: 25px;
    color: #fff;
    position: relative;
}
.main .section-menu .inner .list .item_text span {
    font-size: 2.2rem;
    font-family: 'yg-jalnan';
    background-color: #BD4F00;
    border-radius: 40px;
    padding: 10px 20px;
    position: absolute;
    top: 100px;
    left: 60px;
    margin-bottom: 25px;
}
.main .section-menu .inner .list .item_text h3 {
    font-size: 4.5rem;
    position: absolute;
    top: 170px;
    left: 60px;
}
.main .section-menu .inner .list .item_text .btn {
    position: absolute;
    bottom: 160px;
    left: 60px;
    width: 206px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.main .section-menu .inner .list .item_text .btn div{
    border-radius: 100%;
    border: 1px solid #fff;
    text-align: center;
    width: 60px;
    height: 100%;
    position: relative;
}
.main .section-menu .inner .item_text .btn div img{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main .section-menu .inner .item_text .btn div img + img {
    opacity: 0;
}
.main .section-menu .inner .list .item_text .btn div:hover {
    background-color: #fff;
}
.main .section-menu .inner .item_text .btn div:hover img + img {
    opacity: 1;
}
.main .section-menu .inner .list .item_text .bottom_color {
    width: 100%;
    height: 120px;
    background-color: #FF6B00;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.main .section-menu .inner .list .item_text figure {
    position: absolute;
    bottom: -57px;
    right: 0;
}
.main .section-menu .inner .list .item_img {
    width: 49%;
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
}
.main .section-menu .inner .list .item_img .item {
    width: 296px;
    height: 296px;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}
.main .section-menu .inner .list .item_img .item figure {
    width: 100%;
    height: 100%;
}
.main .section-menu .inner .list .item_img .item figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main .section-menu .inner .list .item_img .item p{
    font-size: 1.8rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    color: #fff;
    line-height: 1.3;
    padding: 30px;
    background: linear-gradient(to bottom,  rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    width: 100%;
}
.main .section-menu .inner .list .item_img .item:hover p{
    display: block;
}

.main .section-info {
    max-width: 1280px;
    width: calc(100% - 30px);
    margin: 0 auto;
    text-align: left;
}
.main .section-info .inner {
    margin-top: 150px;
}
.main .section-info .inner .title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.main .section-info .inner .title .sub_title {
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main .section-info .inner .title .sub_title span{
    position: relative;
    margin-right: 45px;
    color: #888888;
}
.main .section-info .inner .title .sub_title .checked {
    color: #333;
    font-weight: bold;
}
.main .section-info .inner .title .sub_title span:last-child{
    margin-right: 0;
}
.main .section-info .inner .title .sub_title span::after {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 100%;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -23px;
    background-color: #D9D9D9;
}
.main .section-info .inner .title .sub_title span:last-child::after{
    display: none;
}
.main .section-info .inner .title .sub_title figure img {
    display: block;
    margin-right: 6px;
}
.main .section-info .inner .content {
    margin-top: 60px;
}
.main .section-info .inner .content .item{
    display: flex;
    padding: 30px 50px;
    background-color: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.071);
    margin-bottom: 30px;
    border-radius: 25px;
    font-size: 1.8rem;
    position: relative;
    font-weight: bold;
}
.main .section-info .inner .content .item:last-child{
    margin-bottom: 0;
}
.main .section-info .inner .content .item .item_cate {
    color: #FF8A00;
    margin-right: 45px;
}
.main .section-info .inner .content .item:last-child .item_cate {
    color: #4478FF;
}
.main .section-info .inner .content .item .item_date {
    font-weight: normal;
    color: #444;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
}

.main .section-sns {
    max-width: 1280px;
    width: calc(100% - 30px);
    margin: 90px auto;
}
.main .section-sns .inner {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer {
    background-color: #142143;
}
.footer .inner {
    padding: 50px 0;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
}
.footer .inner .logo{
    display: inline-block;
    margin-bottom: 30px;
}
.footer .inner .logo figure {
    width: 160px;
    height: 100%;
}
.footer .inner .logo figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer .inner .text01 {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.footer .inner .text01 p {
    position: relative;
    margin-right: 35px;
}
.footer .inner .text01 p::after {
    content: '';
    width: 1px;
    height: 12px;
    background-color: #ffffff80;
    display: block;
    position: absolute;
    top: 50%;
    right: -18px;
    transform: translateY(-50%);
}
.footer .inner .text01 p:last-child::after {
    display: none;
} 
.footer .inner .text02 {
    display: flex;
    justify-content: center;
}
.footer .inner .text02 p {
    position: relative;
    margin-right: 35px;
}
.footer .inner .text02 p::after {
    content: '';
    width: 1px;
    height: 12px;
    background-color: #ffffff80;
    display: block;
    position: absolute;
    top: 50%;
    right: -18px;
    transform: translateY(-50%);
}
.footer .inner .text02 p:last-child::after {
    display: none;
}

@media screen and (max-width: 1024px) {
    .pc {
        display: none !important;
    }
    .tablet {
        display: block;
    }
    .header .inner {
        max-width: 1024px;
    }
    .main .title h3 {
        font-size: 3.6rem;
    }
    .logo h1 span {
        font-size: 1.6rem;
    }
    .main .section-title .title .main_title h2 {
        font-size: 5.6rem;
    }
    .main .section-title .title .main_title figure {
        width: 206px;
    }
    .main .section-title .title .info_title h3 {
        font-size: 2.4rem;
    }
    .main .section-visual .main_visual .visual_banner div{
        margin: 0 20px;
    }
    .main .section-program {
        padding: 120px 0;
    }
    .main .section-program .inner {
        flex-wrap: wrap;
        gap: 20px;
    }
    .main .section-program .inner > .title {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .main .section-progrm .inner > .title div h3 {
        font-size: 3.6rem;
    }
    .main .section-program .inner > .title div p {
        font-size: 1.6rem;
        margin-bottom: 48px;
    }
    .main .section-program .inner > .title button {
        background-color: #ffffff00;
        border: none;
        width: 43px;
        height: 43px;
    }
    .main .section-program .inner .image {
        height: 490px;
        width: 35%;
    }
    .main .section-program .inner .list .item .item_text {
        margin-left: 15px;
    }
    .main .section-program .inner .list .item .item_text h3 {
        font-size: 1.8rem;
    }
    .main .section-program .inner .list .item .item_text div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main .section-program .inner .list .item .item_text div div {
        display: flex;
        flex-direction: row;
    }
    .main .section-program .inner .list .item .item_text div span {
        margin-right: 0px;
    }
    .main .section-program .inner .list .item .item_text div div::after {
        display: none;
    }
    .main .section-menu {
        margin: 120px auto;
    }
    .main .section-menu .inner .title p {
        font-size: 1.6rem;
        margin-bottom: 40px;
        margin-top: 0;
    }
    .main .section-menu .inner .list .item_text {
        width: 67%;
    }
    .main .section-menu .inner .list .item_text span {
        font-size: 1.8rem;
        top: 80px;
        left: 48px;
    }
    .main .section-menu .inner .list .item_text h3 {
        font-size: 3.6rem;
        top: 140px;
        left: 48px;
    }
    .main .section-menu .inner .list .item_img {
        width: 286px;
    }
    .main .section-menu .inner .list .item_img .item {
        width: 100%;
    }
    .main .section-menu .inner .list .item_img .item:nth-child(2) ~ .item {
        display: none;
    }
    .main .section-menu .inner .list .item_text .btn {
        left: 48px;
    }
    .main .section-menu .inner .list .item_img .item p {
        display: block;
    }
    .main .section-info .inner {
        margin-top: 120px;
    }
    .main .section-info .inner .content {
        margin-top: 48px;
    }
    .main .section-sns {
        margin: 72px auto;
    }
    .footer .inner {
        padding: 40px 0;
    }
    .footer .inner .logo {
        margin-bottom: 24px;
    }
    .footer .inner .text02 {
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
    }
    .footer .inner .text02 p{
        line-height: 1.5;
        margin-right: 18px;
    }
    .footer .inner .text02 p::after {
        right: -9px;
    }
    .footer .inner .text02 p:nth-child(2)::after {
        display: none;
    }

    @media screen and (max-width: 768px) {
        .mobile {
            display: none;
        }
        .header .inner {
            width: calc(100% - 15px);
        }
        .main .section-title {
            margin: 55px auto;
        }
        .main .section-title .title {
            flex-wrap: wrap;
        }
        .main .section-title .title .main_title h2 {
            font-size: 3.6rem;
        }
        .main .section-title .title .main_title figure {
            width: 123px;
        }
        .main .section-title .title .info_title {
            margin-top: 16px;
        }
        .main .section-visual .main_visual{
            max-width: 1024px;
        }
        .main .section-visual .main_visual .visual_banner div figure {
            width: 500px;
            height: 236px;
        }
        .main .section-visual .main_visual .arrowArea {
            width: 500px;
            height: 236px;
            margin-left: 20px;
        }
        .main .section-visual .main_visual .arrowArea div .arrow{
            width: 33px;
            height: 33px;
        }
        .main .section-visual .main_visual .arrow figure{
            width: 9px;
            height: 14px;
            padding: 9px 11px;
        }
        .main .section-program {
            padding: 72px 0;
        }
        .main .title h3 {
            font-size: 2.7rem;
        }
        .main .section-program .inner > .title div p {
            margin-top: 10px;
            font-size: 1.4rem;
            margin-bottom: 16px;
        }
        .main .section-program .inner .image {
            display: none;
        }
        .main .section-program .inner .list {
            width: 100%;
        }
        .main .section-program .inner .list .item .item_text div {
            display: none;
        }
        .main .section-menu {
            margin: 72px auto;
        }
        .main .section-menu .inner .title p {
            margin-bottom: 24px;
        }
        .main .section-menu .inner .list {
            flex-wrap: wrap;
            gap: 35px;
        }
        .main .section-menu .inner .list .item_text {
            width: 100%;
            height: 40vh;
        }
        .main .section-menu .inner .list .item_text figure {
            width: 60%;
            bottom: -45px;
        }
        .main .section-menu .inner .list .item_text figure img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .main .section-menu .inner .list .item_text span {
            top: 48px;
            font-size: 1.4rem;
        }
        .main .section-menu .inner .list .item_text h3 {
            top: 100px;
            font-size: 2.1rem;
        }
        .main .section-menu .inner .list .item_text .btn {
            bottom: 100px;
        }
        .main .section-menu .inner .list .item_img {
            width: 100%;
            gap: 15px;
        }
        .main .section-menu .inner .list .item_img .item {
            width: 48%;
        }
        .main .section-info .inner {
            margin-top: 72px;
        }
        .main .title h3 {
            margin-bottom: 11px;
        }
        .main .section-info .inner .title h3 {
            text-align: center;
        }
        .main .section-info .inner .title {
            justify-content: flex-start;
            flex-direction: column;
        }
        .main .section-info .inner .title .sub_title {
            justify-content: flex-start;
        }
        .main .section-info .inner .content {
            margin-top: 23px;
        }
        .main .section-info .inner .content .item {
            justify-content: flex-start;
            flex-direction: column;
            line-height: 1.3;
            gap: 5px;
        }
        .main .section-info .inner .content .item .item_date {
            position: static;
            margin-top: 10px;
        }
        .footer .inner .text01 {
            flex-direction: column;
        }
        .footer .inner .text01 p {
            margin-right: 0;
            margin-bottom: 10px;
        }
        .footer .inner .text01 p::after {
            display: none;
        }
        .footer .inner .text02 p {
            margin-right: 0;
            margin-bottom: 10px;
        }
        .footer .inner .text02 p::after {
            display: none;
        }

    }
    @media screen and (max-width: 480px) {
        .main .section-visual .main_visual .arrowArea {
            width: 416px;
            left: 46%;
        }
        .main .section-program .inner .list .item {
            padding: 17px 20px;
            box-shadow: 0 0 0 2px #4478FF inset; 
        }
        .main .section-program .inner .list .item .item_text h3 {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
        }
        .main .section-program .inner .list .item .progress {
            padding: 23px 13px;
            font-size: 1.6rem;
        }
        .main .section-menu .inner .list .item_text {
            height: 300px;
        }
        .main .section-menu .inner .list .item_img {
            gap: 15px;
        }
        .main .section-menu .inner .list .item_img .item {
            height: 200px;
        }
        .main .section-info .inner .content .item {
            padding: 19px 25px;
        }
        .main .section-info .inner .content .item p {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            font-size: 1.6rem;
        }
        .main .section-info .inner .content .item .item_cate,
        .main .section-info .inner .content .item .item_date {
            font-size: 1.5rem;
        }
        .main .section-menu .inner .list .item_text .bottom_color {
            height: 72px;
        }
        .main .section-menu .inner .list .item_text .btn{
            width: 110px;
            height: 30px;
        }
        .main .section-menu .inner .list .item_text .btn div {
            width: 30px;
            height: 30px;
        }
        .main .section-menu .inner .item_text .btn div img {
            width: 7px;
            height: 14px;
        }
    }
}